@import "tailwindcss";

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@theme {
    --color-grey-darkest: #121318;
    --color-grey-dark: #191F23;
    --color-grey-medium: #2A2C36;
    --color-grey-light: #424C53;
    --color-grey-lightest: #637582;
    --color-pink: #DD00FF;
    --color-pink-light: #E883FF;
    --color-purple: #7C00FF;
    --color-red: #D5241D;
    --color-emerald: #4EF5C3;
    --shadow-emerald: 6px 6px 20px 0 rgba(0, 255, 179, 0.25);

    --background-image-pink-purple: linear-gradient(180deg, #d0f 0%, #7c00ff 50%, #d0f 100%);
    --background-image-purple-purple: linear-gradient(180deg, #75f 0%, #7c00ff 100%);
    --background-image-emerald-emerald: linear-gradient(180deg, #00dfd0 0%, #00ffb3 100%);
}

.font-righteous {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    @apply
    text-white
    h-full
    scroll-smooth
    scroll-pt-20
    min-w-[375px]
    bg-black
}

body,
#root,
[data-rk] {
    @apply h-full
}

.root-layout {
    @apply
    flex
    flex-col
    h-full
}

body main {
    @apply
    flex-grow
}

[data-testid="rk-connect-button"] {
    font-size: 20px !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
    padding: 5px 20px !important;
    background: var(--background-image-pink-purple) !important;
    background-size: auto 200% !important;
    background-position: 0 0 !important;
    height: fit-content !important;

    @media (hover: hover) {
        &:hover {
            background-position: 0 100% !important;
            transform: scale(1) !important;
        }
    }

    &:focus-visible {
        background-position: 0 100% !important;
        transform: scale(1) !important;
    }
}

.tr-d-all {
    transition: 0.3s ease-in-out all;
}

.tr-d {
    transition: 0.3s ease-in-out;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scrollbar-hidden {
    scrollbar-width: none;
}

.neon-blink-purple {
    filter: drop-shadow(0 0 10px #9d00ff);
    animation: neonPurpleBlink 1.8s ease-in-out infinite;
    transition: filter 0.3s ease-in-out;
}

.text-stroke-emerald {
    -webkit-text-stroke: 1px #4EF5C3;
}

.text-stroke-pink {
    -webkit-text-stroke: 1px #E883FF;
}

@keyframes neonPurpleBlink {
    0%, 100% {
        filter: drop-shadow(0 0 12px #9d00ff);
    }
    50% {
        filter: drop-shadow(0 0 2px #9d00ff);
    }
}

.neon-blink-emerald {
    filter: drop-shadow(0 0 10px #00ffb3);
    animation: neonEmeraldBlink 1.8s ease-in-out infinite 0.3s;
    transition: filter 0.3s ease-in-out;
}

.neon-blink-cell {
    position: relative;

    &:after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 7px 0 rgba(84, 252, 219, 0.47);
        animation: neonEmeraldBlinkCell 1.8s ease-in-out infinite 0.3s;
        transition: box-shadow 0.3s ease-in-out;
    }
}

@keyframes neonEmeraldBlink {
    0%, 100% {
        filter: drop-shadow(0 0 9px #00ffb3)
    }
    50% {
        filter: drop-shadow(0 0 2px #00ffb3)
    }
}

@keyframes neonEmeraldBlinkCell {
    0%, 100% {
        box-shadow: inset 0 0 22px 0 rgba(84, 252, 219, 0.79);
    }
    50% {
        box-shadow: inset 0 0 7px 0 rgba(84, 252, 219, 0.47);
    }
}
