@import "tailwindcss";

@theme {
    --color-grey-darkest: #121318;
    --color-grey-dark: #191F23;
    --color-grey-medium: #2A2C36;
    --color-grey-light: #424C53;
    --color-grey-lightest: #637582;
    --color-pink: #DD00FF;
    --color-pink-light: #E883FF;
    --color-purple: #7C00FF;
    --color-red: #D5241D;
    --color-emerald: #4EF5C3;

    --background-pink-purple: linear-gradient(180deg, #d0f 0%, #7c00ff 100%);
    --background-purple-purple: linear-gradient(180deg, #75f 0%, #7c00ff 100%);
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    @apply
    text-white
    h-full
    scroll-smooth
    scroll-pt-20
    min-w-[375px]
    bg-black
}

body,
#root,
[data-rk] {
    @apply h-full
}

.root-layout {
    @apply
    flex
    flex-col
    h-full
}

body main {
    @apply
    flex-grow
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scrollbar-hidden {
    scrollbar-width: none;
}